bonapp.ninja:443 {
    proxy / 51.68.45.99:3000;
    tls self_signed
}
api.bonapp.ninja:443 {
    proxy / 51.68.45.99:4000;
    tls self_signed
}

resto.bonapp.ninja:443 {
    proxy / 51.68.45.99:3001;
    tls self_signed
}
