.plate-item {
  margin-bottom: 20px;
  cursor: pointer;
  transition: all linear 2s;

  .plate-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10px;

    .plate-img {
      flex: 13% 1;
      margin-right: 10px;

      img {
        border-radius: 20px;
      }
    }

    &:hover {
      .trash-icon {
        color: #ff0000;
      }
    }

    .plate-name {
      background-color: #fff;
      display: flex;
      flex: 72% 1;
      align-items: center;
      border-radius: 16px;
      padding-left: 20px;
      box-shadow: 0 0 10px;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #2a303c;

      h5 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-right: 43px;


      }
    }
  }
}
